*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url(Images/login.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.Container{
    border-radius: 20px;
    background-color: white;
    width: 560px;
    height: 700px;
    display: flex column;
}

.Container h1 {
    font-size: 25px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

.Name{
    margin: 50px 20px;
}
.Name input{
    width: 174px;
}
.Name span{
    margin-right: 20px;
}

.CNPJ{
    margin: 50px 20px;
}

.CNPJ input{
    width: 20vw;
}

.CNPJ span{
    margin-right: 15.2px;
}

.pass{
    margin: 50px 20px;
}

.pass input{
    width: 20vw;
}

.pass span{
    margin-right: 94px;
}

.Email{
    margin: 50px 20px;
}

.Email input{
    width: 20vw;
}

.Email span{
    margin-right: 93px;
}

button {
    background-color: #0c0d0c;
    border: none;
    color: white;
    cursor: pointer;
    height: 40px;
    margin: 20px 40px 20px;
    width: 450px;
}

button:hover {
    background-color: #1e211f;
}
