html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100vh;
}

body {
  background-repeat: no-repeat;
  background-image: url(Images/BackGround.jpg);
  background-size: 100vw 200vh;
  height: 100%;
}

li a {
  color: #fff;
  text-decoration: none;
}

li a:hover {
  color: #fca311;
}

h2 {
  margin: 10px 20px;
}

.dash h1 {
  width: 600px;
}

.dash h6 {
  width: 600px;
  margin: 20px 10px;
}

.logo {
  color: #fff;
  display: inline-block;
}

nav {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.nav-list {
  list-style: none;
  display: flex;
  text-decoration: none;
}

.nav-list li {
  margin-top: 15px;
  letter-spacing: 4px;
  padding: 15px;
  margin-left: 30px;
}

.container {
  display: flex;
}

.card {
  border-radius: 10px;
  display: grid;
  margin-left: 10px;
  background-color: white;
  min-width: 300px;
  min-height: 500px;
  margin-left: 50px;
  margin-top: 200px;
}

.dash {
  width: 55vw;
  height: 50vh;
  border-radius: 15px;
  background-color: #fff;
  margin-right: 100px;
  margin-top: 200px;
  margin-left: 200px;
  float: right;
}

.info {
  display: flex;
  flex-direction: column;
  /* Correção aqui */
  justify-content: center;
  align-items: center;
}

.info h6 {
  font-size: 15px;
  text-align: center;
}

.reserva {
  justify-self: center;
  display: flex;
  justify-content: center;
  color: #fff;
  width: 90%;
  height: 50px;
  border-radius: 10px;
  background-color: black;
}

.reserva a {
  margin-left: 5px;
  display: flex;
  color: white;
  text-decoration: none;
  margin-top: 10px;
}

.mreserva {
  background-color: grey;
  justify-self: center;
  display: flex;
  justify-content: center;
  color: #fff;
  width: 90%;
  height: 50px;
  border-radius: 10px;
}

.mreserva a {
  margin-left: 5px;
  display: flex;
  color: white;
  text-decoration: none;
  margin-top: 10px;
}
.search-container {
  text-align: center;
  margin-bottom: 20px;
}

.search-container button {
  position: absolute;
  right: 19%;
  padding: 5px 10px;
  margin-right: 20px;
  margin-top: 70px;
}

input[type="text"] {
  padding: 5px;
  position: absolute;
  margin-top: 70px;
  right: 25%;
}

.instrucoes {
  margin: 10px 20px;
}

#reservation-list {
  margin-top: 80px;
  margin-left: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}
#calendar {
  max-width: 800px;
  margin: 0 auto;
}

li {
  margin-bottom: 5px;
}

nav {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

nav .logo {
  color: #fff;
  font-size: 24px;
  display: inline-block;
}

td {
  background: #dcdcdc;
  border-radius: 5px;
  padding: 8px;
  width: 500px;
  height: 20px;
}

.nav-list {
  list-style: none;
  display: flex;
  text-decoration: none;
}

.nav-list li {
  margin-top: 15px;
  letter-spacing: 4px;
  padding: 15px;
  margin-left: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  z-index: 1;
}
.dropdown-content a {
  color: white;
  text-decoration: none;
}
.dropdown:hover .dropdown-content {
<<<<<<< HEAD
    display: block;
}

tr{
    background = '#dcdcdc';
    border-radius: 5px;
    padding:8px;
    width: 500px;
    height: 20px;
}
=======
  display: block;
}
>>>>>>> 78bd9c9e267f9fad54a723e0fa0fdc603522b5b7
